[core]
  autocrlf = input
  safecrlf = false
	excludesFile = /Users/jeff.vier/.gitignore_global
	fsmonitor = false
	useBuiltinFSMonitor = false
[user]
  email = jeff@jeffvier.com
  name = jv
[push]
  default = matching
[alias]
  pu = !"git fetch origin -v; git fetch upstream -v; git merge upstream/master"
  pend = "diff --stat origin/master"
  rau = "remote add upstream"
  pod = "push origin development"
  authjv = !"git config user.email jeff@jeffvier.com ; git config user.name jv"
[branch "development"]
  mergeoptions = --no-ff
[branch "staging"]
  mergeoptions = --no-ff
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[url "git@github.com:"]
	insteadOf = https://github.com/
