[core]
  autocrlf = input
  safecrlf = false
	excludesFile = ~/.gitignore_global
	fsmonitor = false
[user]
  email = jeff@jeffvier.com
  name = jv
[init]
  defaultBranch = main
[push]
  default = simple
[pull]
  rebase = true
[alias]
  pu = !"git fetch origin -v; git fetch upstream -v; git merge upstream/$(git symbolic-ref refs/remotes/upstream/HEAD 2>/dev/null | sed 's@^refs/remotes/upstream/@@' || echo main)"
  pend = !"git diff --stat origin/$(git symbolic-ref refs/remotes/origin/HEAD 2>/dev/null | sed 's@^refs/remotes/origin/@@' || echo main)"
  rau = "remote add upstream"
  pod = "push origin development"
  authjv = !"git config user.email jeff@jeffvier.com ; git config user.name jv"
[branch "development"]
  mergeoptions = --no-ff
[branch "staging"]
  mergeoptions = --no-ff
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[url "git@github.com:"]
	insteadOf = https://github.com/
