[core]
  autocrlf = input
  safecrlf = false
[user]
  email = jeff@jeffvier.com
  name = jv
[push]
  default = matching
[alias]
  pu = !"git fetch origin -v; git fetch upstream -v; git merge upstream/master"
  pend = "diff --stat origin/master"
  rau = "remote add upstream"
  pod = "push origin development"
  authjv = !"git config user.email jeff@jeffvier.com ; git config user.name jv"
